<h1>{{player.name}}</h1>
<img width='100' src='{{player.pic}}' alt='{{player.name}} Profile Pic'>
<p>{{player.bio}} <a href="{{player.wiki}}"> see more here</a></p>
<p>{{age player.birthdate}} years old</p>